body{
    margin: 0;
    display: grid;
    grid-template-areas:'header header header header' 
                        'nav nav nav nav'
                        'section section aside aside'
                        'footer footer footer footer';
    grid-template-rows: 20vh 15vh 50vh 30vh;
    grid-gap: 10px;
}
header{
    grid-area: header;
    background-color: red;
}
nav{
    grid-area: nav;
    background-color: blue;
}
section{
    grid-area: section;
    background-color: green;
}
aside{
    grid-area: aside;
    background-color: yellow;
}
footer{
    grid-area: footer;
    background-color: purple;
}