body{
    margin: 0;
    display: grid;
    grid-template-areas:'header header header header' 
                        'nav nav nav nav'
                        'section section aside aside'
                        'footer footer footer footer';
    grid-template-rows: 20vh 15vh 50vh 30vh;
    grid-gap: 5px;
}
header{
    display: flex;
    grid-area: header;
    background-color: black;
    justify-content: center;
}
header img{
    height: 100%;
    width: 100px;
}
nav{
    grid-area: nav;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
}
nav a:hover{
    color: black;
}
section{
    grid-area: section;
    background-color: green;
}
aside{
    grid-area: aside;
    background-color: yellow;
}
footer{
    grid-area: footer;
    background-color: purple;
}